################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MyRest/MyRest/bin
/MyRest/MyRest/obj/Debug
/MyRest/packages
/MyRest/MyRest/MyRest.csproj.user
/MyRest/.vs/MyRest
